---
import {ResumeItemTitles} from "@/types/ResumeTypes";
import {techStackLanguage, techStackFramework} from "./ResumeContents"
import ResumeItemComponent from "./ResumeItemComponent.astro";
import ResumeItemListComponent from "./ResumeItemListComponent.astro";

interface Props {
    titles: ResumeItemTitles;
    headers: Array<Array<string>>;
    certs: Array<string>;
    summerCamps: Array<string>;
    practices: Array<string>;
}

const {titles, headers, certs, summerCamps, practices} = Astro.props;

const language = [
    ['en', ''],
    ['zh', 'zh/'],
    ['ja', 'ja/'],
];
---

<header class="flex justify-center items-center w-full resume-bg">
    <div class="w-full width-limit">
        <section class="flex justify-end mt-4 gap-x-3 text-gray-400">
            {
                language.map((item) => (
                        <a href={`/resume/${item[1]}`} class="hover:underline hover:text-black">[{item[0]}]</a>
                ))
            }
        </section>
        <section class="flex items-end mt-10">
            <h1 class="text-5xl font-black">千橘 雫霞</h1>
            <h3 class="ml-8 text-xl font-light">NAKASUMI QIANJU</h3>
        </section>
        <section class="flex flex-wrap gap-y-4 mt-16 mb-12">
            {
                headers.map((item) => (
                        <div class="w-1/2">
                            <span class="inline-block w-24 font-bold">{item[0]}</span>
                            <span>{item[1]}</span>
                        </div>
                ))
            }
        </section>
    </div>
</header>
<main class="flex justify-center pt-12 w-full">
    <div class="w-full width-limit">
        <ResumeItemComponent title={titles.techStackTitle}>
            <div class="flex flex-wrap gap-1">
                {
                    techStackLanguage.map((item) => (
                            <img src={item[0]} alt={item[1]} title={item[1]}/>
                    ))
                }
            </div>
            <div class="flex flex-wrap gap-1 mt-4">
                {
                    techStackFramework.map((item) => (
                            <img src={item[0]} alt={item[1]} title={item[1]}/>
                    ))
                }
            </div>
        </ResumeItemComponent>

        <ResumeItemComponent title={titles.certsTitle}>
            <ResumeItemListComponent>
                {
                    certs.map((item) => (
                            <li><span>{item}</span></li>
                    ))
                }
            </ResumeItemListComponent>
        </ResumeItemComponent>

        <ResumeItemComponent title={titles.summerCampsTitle}>
            <ResumeItemListComponent>
                {
                    summerCamps.map((item) => (
                            <li><span>{item}</span></li>
                    ))
                }
            </ResumeItemListComponent>
        </ResumeItemComponent>

        <ResumeItemComponent title={titles.practicesTitle}>
            <ResumeItemListComponent>
                {
                    practices.map((item) => (
                            <li><span>{item}</span></li>
                    ))
                }
            </ResumeItemListComponent>
        </ResumeItemComponent>

        <div class="my-8">{titles.moreContentTitle}</div>
    </div>
</main>

<footer class="flex justify-center w-full resume-bg">
    <div class="py-6 w-full width-limit">
        <p class="text-gray-400">
            * Some information blurred for privacy. If you
            want to know more, send request to
            qianjunakasumi@outlook.com.
        </p>
        <p class="mt-4">
            © QIANJUNAKASUMI.MOE. {new Date().getFullYear()}
        </p>
    </div>
</footer>

<style>
    .width-limit {
        max-width: 1191px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .resume-bg {
        background: #F3F8FF
    }
</style>
